<head>
<!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
</head>

<div class="testbox">
  <h1>Registration</h1>

  <form action="/">
      <hr>
    <div class="accounttype">
      <input type="radio" value="None" id="radioOne" name="account" checked/>
      <label for="radioOne" class="radio" chec>Student</label>
      <input type="radio" value="None" id="radioTwo" name="account" />
      <label for="radioTwo" class="radio">Teacher</label>
    </div>
  <hr>
  
  <input type="text" name="name" id="name" placeholder="Email" required/>
  <input type="text" name="name" id="name" placeholder="Name" required/>
  <input type="text" name="name" id="name" placeholder="Roll No." required/>
  <input type="text" name="name" id="name" placeholder="Department" required/>
  <input type="text" name="name" id="name" placeholder="Semester" required/>
  <input type="password" name="name" id="name" placeholder="Password" required/>
  <input type="password" name="name" id="name" placeholder="Confirm Password" required/>
  <div class="gender">
    <input type="radio" value="None" id="male" name="gender" checked/>
    <label for="male" class="radio" chec>Male</label>
    <input type="radio" value="None" id="female" name="gender" />
    <label for="female" class="radio">Female</label>
   </div> 
   <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
   <a href="#" class="button">Register</a>
  </form>
</div>