<%- include('./header') %> 
<div class='container'>
    <h2>Student Login</h2><br>    
    <div class="login">    
        <form class='row' action="/student/login" method="POST" onsubmit="valid()" enctype="application/x-www-form-urlencoded">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email" placeholder="Your Email ID">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Your Password">
            <input class="btn btn-primary"  type="submit" value="Submit">
          </form>
    </div>   
</div>

  